li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  .navbar{
    animation: slideIn 1.5s ease-in-out infinite;
  }
  

  .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: beige;
    
}

.menu-item {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: aquamarine;
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: #ff5722;
}

/* Optional styling for headers and paragraphs */
h2 {
    margin: 0;
    font-size: 1.5em;
}

p {
    margin: 0;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.information{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    
}
.work{
  border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: aquamarine;
}
